@page "/Secret"
@inject IHttpClientFactory HttpClientFactory
<h3>Secret</h3>
<p>@SecretString</p> 

@code {
    private string SecretString { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var client = HttpClientFactory.CreateClient("ParkItApi");
        SecretString = await client.GetStringAsync("auth/secret");
    }

}